

/* table va mobile */
@media (max-width: 1023px){
    :root {
        --header-height: 120px;
        --navbar-height: 0px;
    }


    .hide-on-table-mobile {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .header__sort-bar {
        display: flex;
    }
    .app__container {
        margin-top:   calc(var(--header-height) + var(--header-sort-bar-height)) ;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: var(--white-color);
        width: 100%;
       padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::after {
        display: none;
    }

    
}

@media (min-width: 740px) and (max-width: 1023px){
  
    .header__cart {
        width: 70px;
        text-align:right;
       
    }

    .hide-on-table {
        display: none;
    }
}

@media (max-width: 739px){
    .hide-on-mobile {
        /* display: none; */
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height) ;
        left: 0;
        right: 0;
        z-index: 1;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        padding: 0 12px 0 0;
        animation: search-mobileSideIn linear 0.3s ;
        display: none;
    }    
    .pagination-item__link {
        display: block;
        height: 28px;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-color);
        min-width: 36px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
    }

    .pagination-item {
        margin: 0;
    }

    .app__container {
        margin: 0;
        padding-top: 166px;
        
    }
    @keyframes search-mobileSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-history-child {
        position: fixed;
        top: calc(var(--header-height)+ var(--header-sort-bar-height));
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        
    }

    .header__mobile-search {
        display: block;
    }

    .mobile__category {
        display: block;
    }

    .header__logo-img {
        height: 60px;
    }
}